.sectionStatics {
  background: url("/img/Statistics v2.png") no-repeat center center /
    cover;
  /* padding: 50px 0; */
  position: relative;
}

.sectionFindDestination {
  background: url("/img/Choose your Degree.png") no-repeat center center /
    cover;
  /* padding: 50px 0; */
  position: relative;
}

.findDestinationBoxPosition {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  right: 26%;
}

.findDestinationBox {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 25%;
  height: 12rem;
  background: rgba(58, 64, 154, 0.685);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-color: #180b64;
  border-width: 1px;
  transition: transform 0.5s, border-color 0.7s, box-shadow 0.2s, backdrop-filter 0.2s;
}

.findDestinationBox:hover {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: rgba(26, 30, 87, 0.685); 
  transform: translateY(-5px);
  border-color: rgb(4, 8, 48);
  border-width: 2px;
  box-shadow: 0 4px 8px rgba(8, 1, 26, 0.63);
}

.glassEffect {
  -webkit-backdrop-filter: blur(0.5px);
  backdrop-filter: blur(0.5px);
  background: rgba(162, 168, 207, 0.208);
  border-radius: 16px;
  padding: 50px 0;
  /* max-width: 100%; */
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle {
  width: 180px;
  height: 180px;
  background: rgba(58, 64, 154, 0.843);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.textStatics {
  padding: 10px;
  color: #ffffff;
  font-family: "Roboto Slab", Sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.1em;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.findDestinationText {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.textNumber {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 48px;
  font-weight: 600;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column-reverse;
}
